a {
    text-decoration: none;
}

body {
    background-position: center top;
    background-size: cover;
    background-color: black;
    margin: 0;
}

.logo {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 600px;
}

label {
    font-family: 'Courier New', Courier, monospace, 'Lucida Console';
    font-size: 11pt;
}

#forgot-pass {
    color: #644d57;
    font-family: 'Courier New', Courier, monospace, 'Lucida Console';
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 2rem auto 8.1rem auto;
    width: 329px;
}

#card-content {
    padding: 12px 44px;
}

#card-title {
    font-family: 'Courier New', Courier, monospace, 'Lucida Console';
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

#signup {
    color: #644d57;
    ;
    font-family: 'Courier New', Courier, monospace, 'Lucida Console';
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

#submit_btn {
    background: -webkit-linear-gradient(right, #6c81c5, #644d57);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #644d57;
    ;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace, 'Lucida Console';
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #644d57;
    ;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    background: -webkit-linear-gradient(right, #6c81c5, #644d57);
    height: 1px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.underline-title {
    background: -webkit-linear-gradient(right, #6c81c5, #644d57);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}